.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardLink {
  text-decoration: none;
  color: inherit;
}

.cardImage {
  width: 100%;
  height: auto;
}

.cardContent {
  padding: 15px;
}

.cardTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cardReleaseDate,
.cardRating {
  font-size: 14px;
  color: #777;
}
